In [ ]:
import numpy as np
from scipy.stats import binom

In [ ]:
# Z-Score calculation for single data point
def zscore(dp, mean, sd):
    """zscore returns the Z-Score of a single data point.

    Args:
        dp (float): Data Point.
        mean (float): Mean.
        sd (float): Standard Deviation.

    Returns:
        float: Z-Score of dp.
    """
    z = (dp - mean) / sd
    return z

zscore(71, 76, 3)

In [ ]:
# Proportion above a value
dp, mu, sd = 0, 25, 50
p = stats.norm.cdf(zscore(dp, mu, sd))
round(p, 4)

In [ ]:
1/2**3

In [ ]:
0.125 * -100 + 0.875 * 20

In [ ]:
k, n, p = 2, 3, 0.5

binom.pmf(k, n, p)

In [ ]:
k, n, p = 3, 3, 0.5

binom.pmf(k, n, p)

In [ ]:
k, n, p = 0, 4, 0.5

binom.pmf(k, n, p) * 0

In [ ]:
k, n, p = 1, 4, 0.5

binom.pmf(k, n, p) * 3

In [ ]:
k, n, p = 2, 4, 0.5

binom.pmf(k, n, p) * 5

In [ ]:
k, n, p = 3, 4, 0.5

binom.pmf(k, n, p) * 7

In [ ]:
k, n, p = 4, 4, 0.5

binom.pmf(k, n, p) * 10

In [ ]:
0.75 + 1.875 + 1.75 + 0.625

In [ ]:
import pandas as pd

In [ ]:
ks = np.arange(4)
points = np.array([3000, 1800, 1300, 800])
df = pd.DataFrame({'Correct answers': ks, 'Points': points})
df

In [ ]:
n, p = 3, 0.5
df['Probability'] = df['Correct answers'].apply(lambda k: binom.pmf(k, n, p))
df

In [ ]:
sum(df['Probability'] * df['Points'])

In [ ]:
0.017 * 600 + 0.020 * 400

In [ ]:
0.022 * 750 + 0.027 * 500

In [ ]:
0.4**5 * 10 + (1 - 0.4**5) * -1

In [ ]:
0.3**3 * 15 + (1 - 0.3**3) * -5

In [ ]:
a = np.array([400, 200, 300])
b = np.array([0.2, 0.2, 0.1])

In [ ]:
import pandas as pd

In [ ]:
72*50 + 28*10

In [ ]:
70*65 + 30*35

In [ ]:
0.95**10 * 25 + (1-0.95**10) * -5

In [ ]:
(20*167 + 5*33) / 200

In [ ]:
p = comb(20, 3) / comb(40, 3)
p

In [ ]:
p*300 + (1-p) *-30

In [ ]:
p = 1/2 * 19/39

In [ ]:
p*150 + (1-p)* -20

In [ ]:
p=0.5**3
p

In [ ]:
5000*0.05 + 3000*0.2 + 8000*0.25

In [ ]:
p, k = 0.3, 3
k**p * 50 + (1-k**p) * -2

In [ ]:
p, k = 0.8, 4
k**p * 70 + (1-k**p) * -2

In [ ]:
0.3**3

In [ ]:
0.3**3*50 + (1-0.3**3)*-2

In [ ]:
0.8**4*70 + (1-0.8**4)*-2

In [ ]:
0.3**3

In [ ]:
2000 * 0.1 + 4000 * 0.15

In [ ]:
df = pd.DataFrame({
    "Type of virus": ["Pikachu", "Trojan", "ADA"], 
    "Cost of repair $": [200, 100, 400],
    "Probability": [0.25, 0.15, 0.1]})

df

In [ ]:
400 * 0.1 + 100

In [ ]:
np.sum(df["Cost of repair $"] * df.Probability)

In [ ]:
48 + 73

In [ ]:
146*5

In [ ]:
121*5

In [ ]:
k, n, p = 2, 4, 0.5
p = binom.cdf(k, n, p)

In [ ]:
p*1 + (1-p)*-3

In [ ]:
k, n, p = 5, 5, 0.5
p = binom.pmf(k, n, p)

In [ ]:
p*100 + (1-p)*-4

In [ ]:
from utils.norm import norm_prop

In [ ]:
# Proportion above a value
dp, mu, sd = 30, 26, 2
p = norm_prop(dp, mu, sd, 'below')
p

In [ ]:
from scipy.stats import norm

In [ ]:
norm.cdf(30, 26, 2)

In [ ]:
from utils.src.stats import zscore
type(zscore)

In [ ]:
zscore(1, 0, 1)

In [ ]:
from utils.src.stats import norm_prop
type(norm_prop)

In [ ]:
import utils.src.norm.norm_prop as norm_prop
type(norm_prop)

In [ ]:
import numpy as np
from utils.src.stats import zscore, norm_prop, norm_rv
from scipy.stats import binom, norm, geom
from scipy.special import comb

In [ ]:
# Proportion above a value
dp, mu, sd = 1, 1, 0.05
precision = 2
p = norm_prop(dp, mu, sd, 'below')
p = round(p, precision)
p

In [ ]:
k, n, p = 3, 5, 0.6
binom.pmf(k, n, p)

In [ ]:
comb(5, 3) * 0.6**3 * 0.4**2

In [ ]:
n, p = 15, 0.3
binom.mean(n, p)

In [ ]:
binom.std(n, p)

In [ ]:
arr = np.array([58, 213, 522])

In [ ]:
arr / arr.sum()

In [ ]:
4*33 + 2*8

In [ ]:
0.16+0.128+0.512

In [ ]:
k, n, p = 1, 3, 0.9
binom.pmf(k, n, p)

In [ ]:
n, p = 3, 0.06
precision = 2
cdf = geom.cdf(n, p)
cdf = round(cdf, precision)
cdf

In [ ]:
n, p = 6, 0.06
precision = 2
pmf = geom.pmf(n, p)
pmf = round(pmf, precision)
pmf

In [ ]:
dp = 736
mus = [175]*4
sds = [15]*4
method = 'T'
area = 'above'
p = round(1 - norm_rv(dp, mus, sds, method, area), 2)

p

In [ ]:
norm_rv?

In [ ]:
dp, mu, sd = 736, 175*4, 15*4
1 - norm.cdf(dp, mu, sd)

In [ ]:
norm_prop(dp, mu, sd, "above")

In [ ]:
dp = 736
mus = [175]*4
sds = [15]*4
method = 'T'
area = 'above'
p = round(norm_rv(dp, mus, sds, method, area), 2)

p

In [ ]:
dp = 290
mus = [65]*4
sds = [12]*4
method = 'T'
area = 'above'
p = round(norm_rv(dp, mus, sds, method, area), 2)

p

In [ ]:
30000 * 19 + 40000 * 2 + 50000 * 6 + 60000 * 17 + 70000 * 6

In [ ]:
2390000 / 50

In [ ]:
47800.0 * 70

In [ ]:
50*0.99

In [ ]:
3/21

In [ ]:
0.12 + 3*0.42+7*0.52

In [ ]:
0.98 * -600 + 0.02 * (50000-600)

In [ ]:
0.09 + 0.03*2 +0.52*3 + 0.24*4 + 0.12 *5

In [ ]:
-10 * 0.995 + (500 - 10) * 0.005

In [ ]:
def rv_mean(X, P):
    """rv_mean calculates the expected value (also known as mean) of the random variable X.

    Args:
        X (array like): Random Variable X.
        P (array like): The probability distribution of random variable X.

    Returns:
        float: The expected value (also known as mean) the random variable X.
    """
    mu = np.average(a=X, weights=P)

    return mu

In [ ]:
def rv_std(X, P):
    """rv_std calculates the standard deviation of the random variable X.

    Args:
        X (array like): Random Variable X.
        P (array like): The probability distribution of random variable X.

    Returns:
        float: The standard deviation of the random variable X.
    """
    mu = rv_mean(X, P)
    sd = np.sum((X - mu)**2 * P)**0.5

    return sd

In [ ]:
X = np.array([60, -9940])
P = np.array([.999, .001])

In [ ]:
rv_std(X, P)

In [ ]:
k = np.array([3, 4])
n = np.array([10, 10])
comb(n, k, exact=False)

In [ ]:
#k = np.array([3, 4])
#n = np.array([10, 10])
k = np.array([1, 1])
n = np.array([10, 10])
comb(n, k, exact=False)

In [ ]:
n = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
k = 1
comb(n, k)

In [ ]:
comb(5, 2)

In [ ]:
import itertools
from itertools import product

In [ ]:
red = np.arange(1, 7)
green = np.arange(1, 7)

In [ ]:
combs = np.array(list(product(red, green)))
combs

In [ ]:
len(combs)

In [ ]:
p_more_than_12 = np.sum(np.sum(combs, axis=1) > 7) / len(combs)
p_equal_to_12 = np.sum(np.sum(combs, axis=1) == 7) / len(combs)
p_less_than_12 = np.sum(np.sum(combs, axis=1) < 7) / len(combs)
print(p_more_than_12)
print(p_equal_to_12)
print(p_less_than_12)

In [ ]:
E = p_more_than_12 * 5 + p_equal_to_12 * 0 + p_less_than_12 * -4
E = round(E, 2)
E

In [ ]:
9/30 * 84

In [ ]:
10/45*414

In [ ]:
21/45*516

safdasfdsaf $4 = 2^2$

$$2 = \frac{4}{2}$$

$\sum^i_n{X}$

In [ ]:
import requests
import json
import numpy as np

from datetime import date, datetime, timezone
from itertools import accumulate
from inspect import cleandoc

class Weather:
    """ Returns the weather forecasting in the next few days.
    """
    def __init__(self, location):
        """__init__ pass location for weather forecasting.

        Args:
            location (string): your city.

        Example:
            weather = Weather('boston')
            weather.response # review the response in JSON format
            weather.data # review all weather data in JSON format
        """
        self.location = location
        self.response = self._api()
        self.data = self.response['list']

    def _api(self):
        # enter your API key here 
        api_key = "af239eac3d426ff8aa48238038f3e701"

        # base_url
        base_url = "http://api.openweathermap.org/data/2.5/forecast"

        # complete_url
        complete_url = base_url + "?q=" + self.location + "&appid=" + api_key

        # call weather api of https://openweathermap.org/api
        response = requests.get(complete_url)

        # convert reponse to JSON format
        return response.json()

    def dates(self):
        """dates returns the counterpart indexes in self.weather_data['list'] of each date.

        Returns:
            dict: {date: [start_index, end_index]}

        Example:
            weather.days()
        """
        # count the number of timestmaps for each date
        dates = {}

        for i in self.data:
            # get date from each piece of data
            date = datetime.fromtimestamp(i['dt'], tz=timezone.utc).date().isoformat()
            # dates[date] = dates.get(date, []) + [i['dt']] # add timestamp to date
            dates[date] = dates.get(date, 0) + 1 # count number of timestamps of date
        
        # extract the start index and end index of each date
        ends = list(accumulate(dates.values()))
        starts = list(accumulate(dates.values()))
        starts.pop() # remove the last item
        starts = [0] + starts
        t_range = list(zip(starts, ends))
        
        # rewrite days to store the counterpart indexes in self.weather_data['list'] of each date
        i = 0
        for date in dates:
            dates[date] = t_range[i]
            i += 1

        return dates
        
    def temperature(self, date):
        temperatures = []
        start, end = self.dates()[date]

        for i in self.data[start:end]:
            # - kelvin unit (273.15)
            temp_min = i['main']['temp_min']
            temp_max = i['main']['temp_max']
            temperatures.append(round(temp_min - 273.15))
            temperatures.append(round(temp_max - 273.15))
            
        return min(temperatures), max(temperatures)
    
    def humidity(self, date):
        humidities = []
        start, end = self.dates()[date]
        
        for i in self.data[start:end]:
            humidities.append(i['main']['humidity'])
        
        return min(humidities), max(humidities)

    def today(self):
        today = date.today().isoformat()
        temp_min, temp_max = self.temperature(today)
        humi_min, humi_max = self.humidity(today)
        
        report = f"""
        Today's weather:
        - Temperature is from {temp_min}°C to {temp_max}°C
        - Humidity is from {humi_min}% to {humi_max}%
        """

        print(cleandoc(report)) # Clean up indentation from docstrings that are indented to line up with blocks of code.

In [ ]:
weather = Weather('Beijing')
weather.today()

In [ ]:
weather.data

In [ ]:
weather.data[0:3]

In [ ]:
weather.data[0:5]

In [ ]:
weather.data[0]['main']['temp_min']

In [ ]:
weather.data[0]['main']['temp_max']

In [ ]:
1-0.95**100

![Health Flowchart](https://raw.githubusercontent.com/ZacksAmber/Flowcharts/main/Health.drawio.svg)

In [8]:
1-0.8**20

0.9884707849539315

In [18]:
import matplotlib

In [19]:
import pandas as pd

In [37]:
d = {'Name': ['Zacks', 'Jeffery'], 'Age': [28, 26], 'Text': ["Work hard, have fun.", "Work hard, have fun is a joke"]}
d

{'Name': ['Zacks', 'Jeffery'],
 'Age': [28, 26],
 'Text': ['Work hard, have fun.', 'Work hard, have fun is a joke']}

In [38]:
df = pd.DataFrame(d)

In [39]:
df

      Name  Age                           Text
0    Zacks   28           Work hard, have fun.
1  Jeffery   26  Work hard, have fun is a joke

In [40]:
df.Age.mean()

27.0

In [36]:
df.iloc[0, :]

Name    Zacks
Age        28
Name: 0, dtype: object

In [35]:
df.iloc[1, :]

Name    Jeffery
Age          26
Name: 1, dtype: object

|Collection Type|Function Name|Symbol|
|:-:|:-:|:-:|
|List|`list`|`[]`|
|Dictionary|`dict`|`{}`|
|Tuple|`tuple`|`()`|
|Set|`set`|`{}`|

|Collection Type|Function Name|Symbol|
|:-|:-|-:|
|List|||
|Dictionary|`dict`|`{}`|
|Tuple|`tuple`|`()`|
|Set|`set`|`{}`|

<table class="ws-table-all notranslate">
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr>
<td><a href="ref_random_seed.asp">seed()</a></td>
<td>Initialize the random number generator</td>
</tr>
<tr>
<td><a href="ref_random_getstate.asp">getstate()</a></td>
<td>Returns the current internal state of the random number generator</td>
</tr>
<tr>
<td><a href="ref_random_setstate.asp">setstate()</a></td>
<td>Restores the internal state of the random number generator</td>
</tr>
<tr>
<td><a href="ref_random_getrandbits.asp">getrandbits()</a></td>
<td>Returns a number representing the random bits</td>
</tr>
<tr>
<td><a href="ref_random_randrange.asp">randrange()</a></td>
<td>Returns a random number between the given range</td>
</tr>
<tr>
<td><a href="ref_random_randint.asp">randint()</a></td>
<td>Returns a random number between the given range</td>
</tr>
  <tr>
<td><a href="ref_random_choice.asp">choice()</a></td>
<td>Returns a random element from the given sequence</td>
  </tr>
<tr>
<td><a href="ref_random_choices.asp">choices()</a></td>
<td>Returns a list with a random selection from the given sequence</td>
</tr>
<tr>
<td><a href="ref_random_shuffle.asp">shuffle()</a></td>
<td>Takes a sequence and returns the sequence in a random order</td>
</tr>
<tr>
<td><a href="ref_random_sample.asp">sample()</a></td>
<td>Returns a given sample of a sequence</td>
</tr>
<tr>
<td><a href="ref_random_random.asp">random()</a></td>
<td>Returns a random float number between 0 and 1</td>
</tr>
<tr>
<td><a href="ref_random_uniform.asp">uniform()</a></td>
<td>Returns a random float number between two given parameters</td>
</tr>
<tr>
<td><a href="ref_random_triangular.asp">triangular()</a></td>
<td>Returns a random float number between two given parameters, you can also set 
a mode parameter to specify the midpoint between the two other parameters</td>
</tr>
<tr>
<td>betavariate()</td>
<td>Returns a random float number between 0 and 1 based on the Beta distribution 
(used in statistics)</td>
</tr>
<tr>
<td>expovariate()</td>
<td>Returns a random float number based on the Exponential distribution (used in 
statistics)</td>
</tr>
<tr>
<td style="height: 23px">gammavariate()</td>
<td style="height: 23px">Returns a random float number based on the Gamma 
distribution (used in statistics)</td>
</tr>
<tr>
<td>gauss()</td>
<td>Returns a random float number based on the Gaussian 
distribution (used in probability theories)</td>
</tr>
<tr>
<td>lognormvariate()</td>
<td>Returns a random float number based on a log-normal 
distribution (used in probability theories)</td>
</tr>
<tr>
<td>normalvariate()</td>
<td>Returns a random float number based on the normal 
distribution (used in probability theories)</td>
</tr>
<tr>
<td>vonmisesvariate()</td>
<td>Returns a random float number based on the von Mises 
distribution (used in directional statistics)</td>
</tr>
<tr>
<td>paretovariate()</td>
<td>Returns a random float number based on the Pareto 
distribution (used in probability theories)</td>
</tr>
<tr>
<td>weibullvariate()</td>
<td>Returns a random float number based on the Weibull 
distribution (used in statistics)</td>
</tr>
</tbody></table>

In [50]:
l = []

for i in range(0, 11):
    if i % 2 == 0:
        l.append(i)
        
l

[0, 2, 4, 6, 8, 10]

In [49]:
l = [i for i in range(0, 11) if i % 2 == 0]
l

[0, 2, 4, 6, 8, 10]

In [53]:
l = []

for i in range(0, 11):
    if i % 2 == 0:
        l.append(i)
    else:
        l.append('Odd')
        
l

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [52]:
l = [i if i % 2 == 0 else 'Odd' for i in range(0, 11)]
l

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [3]:
date = ['2022-04-13', '2022-04-14', '2022-04-15']
date

['2022-04-13', '2022-04-14', '2022-04-15']

In [4]:
exercise = ['handstand', 'handstand', 'handstand']

In [5]:
part = ['shoulder', 'shoulder', 'shoulder']

In [6]:
set1 = [30, 60, 60]
set2 = [30, 60, 60]

In [9]:
row1 = [date[0], exercise[0], part[0], set1[0], set2[0]]
row1

['2022-04-13', 'handstand', 'shoulder', 30, 30]

In [10]:
row1 = [date[1], exercise[1], part[1], set1[1], set2[1]]
row1

['2022-04-14', 'handstand', 'shoulder', 60, 60]

In [ ]:
{'key1': value1, 
 'key2': value2}

In [17]:
t = (1, 2)

In [ ]:
---------------------

In [11]:
import pandas as pd

In [38]:
df = pd.DataFrame({
    'date': date, 
    'exercise': exercise, 
    'part': part, 
    'set1': set1, 
    'set2': set1
})
df

         date   exercise      part  set1  set2
0  2022-04-13  handstand  shoulder    30    30
1  2022-04-14  handstand  shoulder    60    60
2  2022-04-15  handstand  shoulder    60    60

In [39]:
df.columns

Index(['date', 'exercise', 'part', 'set1', 'set2'], dtype='object')

In [40]:
df.loc[3] = ['2022-05-15', 'handstand', 'shoulder', 30, 30]
df

         date   exercise      part  set1  set2
0  2022-04-13  handstand  shoulder    30    30
1  2022-04-14  handstand  shoulder    60    60
2  2022-04-15  handstand  shoulder    60    60
3  2022-05-15  handstand  shoulder    30    30

In [41]:
df['step'] = [1] * 4
df

         date   exercise      part  set1  set2  step
0  2022-04-13  handstand  shoulder    30    30     1
1  2022-04-14  handstand  shoulder    60    60     1
2  2022-04-15  handstand  shoulder    60    60     1
3  2022-05-15  handstand  shoulder    30    30     1

In [22]:
df.loc[0, 'set1'] # indexing

30

In [23]:
df.loc[0, :]['set1']

30

In [24]:
df.loc[0, ['date', 'exercise', 'part', 'set1', 'set2']]

date        2022-04-13
exercise     handstand
part          shoulder
set1                30
set2                30
Name: 0, dtype: object

In [25]:
df.loc[0, :]

date        2022-04-13
exercise     handstand
part          shoulder
set1                30
set2                30
step                 1
Name: 0, dtype: object

In [30]:
df.loc[:, 'date']

0    2022-04-13
1    2022-04-14
2    2022-04-15
3    2022-05-15
Name: date, dtype: object

In [62]:
df.loc[:, 'date']

0    2022-04-13
1    2022-04-14
2    2022-04-15
3    2022-05-15
Name: date, dtype: object

In [61]:
df.loc[:, 'date'] == '2022-04-13'

0     True
1    False
2    False
3    False
Name: date, dtype: bool

In [60]:
df[df.loc[:, 'date'] == '2022-04-13']

         date   exercise      part  set1  set2  step
0  2022-04-13  handstand  shoulder    30    30     1

In [75]:
df.shape

(4, 7)

In [80]:
df['my_name'] = ['Zacks'] * df.shape[0]
df

         date   exercise      part  set1  set2  step  loc my name my_name
0  2022-04-13  handstand  shoulder    30    30     1    1   Zacks   Zacks
1  2022-04-14  handstand  shoulder    60    60     1    2   Zacks   Zacks
2  2022-04-15  handstand  shoulder    60    60     1    3   Zacks   Zacks
3  2022-05-15  handstand  shoulder    30    30     1    4   Zacks   Zacks

In [81]:
df.loc[:, 'my_name']

0    Zacks
1    Zacks
2    Zacks
3    Zacks
Name: my_name, dtype: object

In [82]:
df['my_name']

0    Zacks
1    Zacks
2    Zacks
3    Zacks
Name: my_name, dtype: object

In [83]:
df.my_name

0    Zacks
1    Zacks
2    Zacks
3    Zacks
Name: my_name, dtype: object

In [84]:
df

         date   exercise      part  set1  set2  step  loc my name my_name
0  2022-04-13  handstand  shoulder    30    30     1    1   Zacks   Zacks
1  2022-04-14  handstand  shoulder    60    60     1    2   Zacks   Zacks
2  2022-04-15  handstand  shoulder    60    60     1    3   Zacks   Zacks
3  2022-05-15  handstand  shoulder    30    30     1    4   Zacks   Zacks

In [92]:
df.iloc[[0, 1, 2], [0, 3, 6]]

         date  set1  loc
0  2022-04-13    30    1
1  2022-04-14    60    2
2  2022-04-15    60    3

In [ ]:
df.iloc[0, 0]

In [93]:
None

In [96]:
[1, 2, None]

[1, 2, None]

In [98]:
'null'

'null'

In [99]:
print('null')

null

In [100]:
2 * 0.06 + 3 * 0.42 + 7 * 0.52

5.02

In [101]:
dp, mu, sd = 0.5, 0, 1

In [102]:
from statistics import NormalDist

In [103]:
NormalDist(mu, sd).cdf(dp)

0.691462461274013

In [105]:
NormalDist(mu, sd).zscore()

Object `zscore` not found.

In [106]:
NormalDist(10, 2).zscore(1)

-4.5

In [109]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from statistics import NormalDist
from scipy.stats import norm, binom
from scipy.special import comb
from IPython.display import display, Latex

In [114]:
# probability above a value
dp, mu, sd, n = 178, 50, 5, 4
mus, sds = mu * n, (sd**2 * n)**0.5
precision = 4
prob = NormalDist(mu=mus, sigma=sds).cdf(x=dp)
prob = round(prob, precision)
display(Latex(f"$P(X > {dp}) = {prob}$"))

In [113]:
(sd**2 * n)**0.5

10.0

In [140]:
p = 0.5
q = 1 - p
n = 1000
precision = 2

# check is the sampling distribution approximately normal
print(n * p >= 10)
print(n * q >= 10)

True
True

In [141]:
sample_sd = np.sqrt(p * q / n)

display(Latex("$\displaystyle \mu_{\hat p} = $" + f"${p}$"))
display(Latex("$\displaystyle \sigma_{\hat p} = $" + f"${round(sample_sd, precision)}$"))

In [149]:
# probability between two values
dp1, dp2  = 0.46, 0.56
p1 = NormalDist(p, sample_sd).cdf(dp1)
p2 = 1 - NormalDist(p, sample_sd).cdf(dp2)
prob = 1 - (p1 + p2)
prob = round(prob, precision)
display(Latex(f"$P({dp1} \leq \hat p < {dp2}) = {prob}$"))

In [152]:
NormalDist(p, sample_sd).zscore(0.47)

-1.8973665961010293

In [145]:
sample_sd

0.015811388300841896

In [146]:
np.sqrt(p * q / n)

0.015811388300841896

In [157]:
from scipy.stats import binom

In [165]:
p = 0.41
q = 1 - p
n = 25
precision = 2

# check is the sampling distribution approximately normal
print(n * p >= 10)
print(n * q >= 10)

True
True

In [166]:
binom.std(n, p) / n

0.09836666101886352

In [167]:
np.sqrt(p * q / n)

0.0983666610188635